/* You can add global styles to this file, and also import other style files */
.body {
    background-color: #aee5ff;
}

#barChart {
    margin-top: 10%;
    background-color: white;
}

#barChart2 {
    margin-top: 10%;
    background-color: white;
}

#pieChart {
    margin-top: 10%;
    background-color: white;
}
