<h1 class="title" style="text-align:center">
  {{ title }}
</h1>
<div class="logo" style="text-align:center">
  <img width="100" alt="Angular Logo" src="assets/logo.png">
</div>
<h1 class="title" style="text-align:center">
  By José Antonio Ruiz Mostazo
</h1>

<div id="fila1">
    <h1 class="label">Número de bodas registradas en la aplicación: {{ numBodas }}</h1>
</div>

<div id="fila2">
    <h1 class="label">La media de invitados de todas las bodas es: {{ avgInvitados }}</h1>
</div>

<div id="fila3">
  <h1 class="titleChart">Número de bodas que se han celebrado o se van a celebrar en las diferentes provincias de España</h1>
  <canvas id="barChart"></canvas>
</div>

<div id="fila4">
  <h1 class="titleChart">Número de bodas que se han celebrado o se van a celebrar en cada mes</h1>
  <canvas id="barChart2"></canvas>
</div>

<div id="fila5">
  <h1 class="titleChart">Número de bodas que se han celebrado o se van a celebrar en cada año</h1>
  <canvas id="pieChart"></canvas>
</div>
